@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

/* Estilos gerais */
.header {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, rgb(211, 183, 151), rgb(172, 150, 112));
  color: rgb(242, 246, 250);
  margin: 0;
  padding: 100px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* Estilos específicos do formulário */
#title {
  text-align: center;
  margin-top: 20px;
}

#description {
  text-align: center;
}

#survey-form {
  margin-top: 30px;
}

label {
  color: white;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white; /* Alterado para branco */
  background: none;
  font-size: 15px;
  letter-spacing: 2px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border-bottom: 1px solid rgb(247, 232, 202);
  color: white; /* Alterado para branco */
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

legend {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-image: linear-gradient(to right, rgb(211, 183, 151), rgb(100, 86, 63));
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-image: linear-gradient(to right, rgb(211, 183, 151), rgb(145, 126, 97));
}

select {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  background: none;
  font-size: 15px;
  letter-spacing: 2px;
}

select option {
  background-color: rgba(0, 0, 0, 0.6); /* Cor do fundo do formulário */
  color: white; /* Cor do texto */
}

select:focus {
  border-bottom: 1px solid rgb(247, 232, 202);
  color: white;
}

